@model SendSmsCallAlerts.Models.LogInViewModel


@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Software</title>
    
@*    <link rel="icon" href="~/images/faviconicon.jpg" sizes="32x32" />
    <link rel="icon" href="~/images/faviconicon.jpg" sizes="192x192" />
    <link rel="apple-touch-icon" href="~/images/faviconicon.jpg" />
    <meta name="msapplication-TileImage" content="https://saddlebrookecommerce.com/wp-content/uploads/2023/04/ECOM-CHANGES-V2_03.jpg" />
*@

    <style>
        .form-group {
            margin-bottom: 15px;
        }

        label {
            display: block;
            font-weight: bold;
        }

        input[type="text"],
        input[type="password"] {
            width: 100%;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        button[type="submit"] {
            padding: 10px 20px;
            background-color: #007bff;
            border: none;
            color: #fff;
            border-radius: 4px;
            cursor: pointer;
        }

            button[type="submit"]:hover {
                background-color: #0056b3;
            }

        .form-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }

        .alert.alert-danger {
            color: #721c24; /* Text color */
            background-color: #f8d7da; /* Background color */
            border-color: #f5c6cb; /* Border color */
            padding: 1rem; /* Padding around the content */
            border: 1px solid transparent; /* Border style */
            border-radius: 0.25rem; /* Rounded corners */
        }

            .alert.alert-danger h4 {
                margin-top: 0; /* Remove margin from heading */
            }

    </style>
</head>
<body>



    @using (Html.BeginForm("Login", "Account", FormMethod.Post))
    {

        @Html.AntiForgeryToken()
        <div class="form-container">
            @if (ViewBag.ErrMsg != null)
            {
                <div class="alert alert-danger">
                    <b>@ViewBag.ErrMsg</b>
                </div>
            }

            @if (ViewBag.ReturnUrl != null)
            {
                <input type="hidden" name="storedurl" value="@ViewBag.ReturnUrl" />
            }
            <h2>Login</h2>
            <div class="form-group">
                @Html.LabelFor(m => m.Username)
                @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>

            <button type="submit" class="btn btn-primary">Login</button>
        </div>
    }


</body>
</html>
