@model SendSmsCallAlerts.Models.OptionInstructions

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>OptionInstructions</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IvrId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IvrId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InstructionOrder)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InstructionOrder)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Instruction)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Instruction)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
