@model SendSmsCallAlerts.Models.Scheduler

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Scheduler</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("From")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.fromNum)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("To")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.toNum)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Body")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.smsBody)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Execution")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.onceOrRepeat)
        </dd>
        @if (Model.onceOrRepeat == "Once")
        {
            <dt class="col-sm-2">
                @Html.DisplayName("Date & Time")
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.executionDateAndTime)
            </dd>
        }
        else
        {
            <dt class="col-sm-2">
                @Html.DisplayName("Time")
            </dt>
            <dd class="col-sm-10">
                @Model.executionTime.ToString("HH:mm")
                @*@Html.DisplayFor(model => model.executionTime)*@
            </dd>
        }

        <dt class="col-sm-2">
            @Html.DisplayName("Status")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.status)
        </dd>

   @*     <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.schedulerFor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.schedulerFor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.templateOrAudioId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.templateOrAudioId)
        </dd>*@
  @*      <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.onceOrRepeat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.onceOrRepeat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.executionDateAndTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.executionDateAndTime)
        </dd>*@
     @*   <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.createdOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.createdOn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.executionTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.executionTime)
        </dd>*@
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <p>
            <a asp-controller="SMS" asp-action="IncomingLogs">Go back</a>
        </p>
    </form>
</div>
