@{
    ViewData["Title"] = "Index";
}

<div class="d-flex justify-content-between align-items-center mb-2">
    <h1>Buy Number</h1>
    <a asp-action="IncomingLogs" asp-controller="Sms" class="btn btn-secondary btn-sm">
        <i class="fa fa-arrow-left me-1"></i> Back to SMS Logs
    </a>
</div>

@if (TempData["StMsg"] != null)
{
    <div class="alert alert-success">
        <b>@TempData["StMsg"]</b>
    </div>
}

<link href="~/css/bootstrapcopyfromlive.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css" rel="stylesheet" />

@if (TempData["StMsg"] != null)
{
    <div class="alert alert-success">
        <b>@TempData["StMsg"]</b>
    </div>
}

<div class="row">
    <div class="col-md-4">
        @* <form asp-action="LiveAvailablePhoneNumbers" asp-controller="TwilioLive">*@
        <div class="form-group">
            <label class="control-label">Type Area code</label>
            <input name="areaCode" id="areaCode" type="number" class="form-control" />
        </div>
        <div class="form-group">
            @*  <input type="button" value="Search"  />*@
            <button onclick="SearchRecord()" class="btn btn-primary">Search</button>
        </div>
    </div>
</div>

<table class="table table-bordered table-striped" id="tblRPM">
    <thead style="background: #70b3db;">
        <tr>
            <th>Number</th>
            <th></th>
       
        </tr>


    </thead>
</table>

<div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>



<script>

    var RpmDatatable = $('#tblRPM').on('error.dt', function (e, settings, techNote, message) {
    //SessionExpiredRedirect();

    }).DataTable({
    "drawCallback": function (settings) {
    $(".dtfc-fixed-left").css("background-color", "rgb(112 179 219)");
    },
    //"initComplete": function (settings, json) {
    //    //$(".dtfc-fixed-left").css("background-color", "rgb(112 179 219)");


    //    //$('#tblRPM thead th:eq(1)').css({
    //    //    'position': 'sticky',
    //    //    'left': 102,
    //    //    'background-color': '#70b3db',
    //    //    'z-index': 2
    //    //});

    //    //this.api().columns.adjust();
    //},
    //"rowCallback": function (row, data, index) {

    //    $("table > thead > tr > th:first-child").css({
    //        'position': 'sticky',
    //        'left': 0,
    //        'background-color': '#70b3db',
    //        'z-index': 2
    //    });

    //    $("table > thead > tr > th:nth-child(2)").css({
    //        'position': 'sticky',
    //        'left': 102,
    //        'background-color': '#70b3db',
    //        'z-index': 2
    //    });

    //    $('td:eq(0)', row).css({
    //        'position': 'sticky',
    //        'left': 0,
    //        'background-color': '#70b3db',
    //        'z-index': 1  // Ensure that it's above the other cells
    //    });
    //    $('td:eq(1)', row).css({
    //        'position': 'sticky',
    //        'left': 102,
    //        'background-color': '#70b3db',
    //        'z-index': 1
    //    });
    //},
    "autoWidth": false,
    "sAjaxSource": "/Twilio/LiveAvailablePhoneNumbers",
    "fnServerParams": function (aoData) {
    aoData.push(
    { "name": "areaCode", "value": $('#areaCode').val() }
    );
    },
    "sServerMethod": "POST",
    "bServerSide": false,
    "bProcessing": true,
    "bSearchable": true,
    "scrollX": true,
    "scrollY": "400px",
    "pageLength": 100,
    //"fixedColumns": {
    //    "leftColumns": 2 // Number of columns to freeze on the left
    //},
    "order": [],
    //"order": [[0, 'asc']],
    "language": {
    "emptyTable": "No record found.",
    "processing":
    '<i class="fa fa-spinner fa-spin fa-3x fa-fw" style="color:#2a2b2b;"></i><span class="sr-only">Loading...</span> '
    },
    "columns": [
    {
    "data": "phone_number",
    "autoWidth": true,
    "searchable": true
    }
    ,
    {
    "render": function (data, type, row) {

    return '<button style="background: #52aadf;" onclick="Purchase(' + row.phone_number + ')"> Purchase </button>';


    },
    "searchable": true
    }


    ]
    });

    //RpmDatatable.on('draw.dt', function () {
    //    $(".dtfc-fixed-left").css("background-color", "#66b7d1");
    //});

    function SearchRecord(id) {
    RpmDatatable.ajax.reload();
    }


    function Purchase(id) {
    var url = '@Url.Action("PurchasePhoneNumber", "Twilio")';
    url += '?phoneNumber=' + id;
    window.location.href = url;
    }
    
    //function EditRecord(id) {
    //    var url = '@Url.Action("Edit", "Stores")';
    //    url += '?id=' + id;
    //    window.location.href = url;
    //}


    //function DetailRecord(id) {
    //    var url = '@Url.Action("Details", "Stores")';
    //    url += '?id=' + id;
    //    window.location.href = url;
    //}

</script>



@*@{
    ViewData["Title"] = "BuyNumber";
}

<h1>Buy Number</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="LiveAvailablePhoneNumbers" asp-controller="TwilioLive">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Type Area code</label>
                <input name="areaCode" type="number" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>*@

